

body{
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

nav{
  width: 100%;
  background: #00b18f;
  overflow: auto;
  justify-content: space-between;
  padding: 10px;
}

ul{
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
  position: sticky;
  top:0;
  position: -webkit-sticky;
}

li{
  float: left;
  
}
.logo img{
  position: absolute;
  margin-top: 10px;
  margin-left: 40px; 
  height: 70px;
  width: 100px;

}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
}

nav a{
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
}

nav a:hover{
  transition: 0.5s;
  text-transform: uppercase;
}
nav li.split {
  float: right;
}
.navbar{
  background-color: #00b18f;
  color:#ffffff;
  display: flex;
  justify-content: space-around;
}


.switch {
  position: relative;
  display: inline-block;
  margin: -8 40px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #00b18f;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #00b18f;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #00b18f;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 4px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #00b18f;
  
  
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00b18f;
  color: white;
  text-align: center;
  
  /*background-color: #d0f0f8;
  -webkit-mask-image: url("../Images/background-footer.svg");
  mask-image: url("../Images/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;*/
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 180px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.box__footer h2{

  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box__footer a{
  text-decoration: none;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: #ffffff;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #ffffff;
}