.main h1{
    text-align: center;
    color:#3AAFA9;
    font-size: 36px;
}

.main .main-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    margin: 0px 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    object-fit: cover;
}

.main p{
    text-align: center;
    font-size: 20px;
    color:#3AAFA9;
}

.main .main-container .container{
    width: 15%;
    min-width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #00000061;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    /* cursor:pointer; */
    /* text-align: center; */
    background-color: #f5f5f559;
    /* min-height: 400px; */
}

.main .main-container .container:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

.main .main-container .container img{
    width:100%;
    border-radius: 10px;
    cursor:pointer;
    box-sizing: border-box;
    object-fit:fill;
    min-height: 255px;
}

.main .main-container .container a{
    text-decoration: none;
}

.main .main-container .container .item .s1{
    color: #2B7A78;
    font-weight: bold;
    font-size: 18px;
    cursor:pointer;
}

.main .main-container .container .item span{
    font-weight: bold;
    color: gray;
    font-size: 14px;
    display: block;
}

.main .main-container .container .item h3{
    color: rgba(255, 0, 0, 0.8);
}

.main .main-container .container .item del{
    color: rgba(0, 0, 0, 0.55);
}

.main .main-container .container .item .btn{
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color:#2B7A78;
    background-color: #def2f19c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    box-shadow: outset;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.main .main-container .container .item .btn:hover{
    color: white;
    background-color: #3AAFA9;
}